        body{
            background-color: #a7c5e3;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #timer{
            background-color: darkgray;
            border: 2px solid;
            border-radius: 25px;
            padding: 10px 20px;
            font-size: 70px;
            font-weight: bold;
            /* margin-top: 25px; */
        }

        .inputs, .buttons{
            font-weight: bold;
            display: flex;
            gap: 15px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        input{
            background-color: white;
            font-size: 20px;
            /* font-weight: bold; */
            border: 2px solid;
            border-radius: 5px;
            width: 100px;
            text-align: center;
        }
        button{
            background-color: white;
            font-size: 20px;
            border: 2px solid;
            border-radius: 5px;
            width: 100px;
            text-align: center;
            font-weight: bold;
        }

        button:hover{
            background-color: chocolate;
            cursor: pointer;
        }

        button:disabled{
            cursor: not-allowed;
        }