body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.testimonial-container {
    width: 600px;
    min-width: 400px;
    background-color: darkcyan;
    border: 2px solid;
    border-radius: 35px;
    color: white;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
img{
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50px);
    top: -50px;
}
.text {
    font-size: 20px;
}
.username {
    color: black;
    font-weight: bold;
}