                *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: lightpink;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
        }
        h1{
            font-size: 30px;
            border: 2px solid;
            border-radius: 10px;
            background-color: rgb(23, 24, 23);
            color: white;
            padding: 5px;
        }
        .container{
            background-color: lightcoral;
            width: 400px;
            text-align: center;
            font-size: 50px;
            border: 2px solid;
            border-radius: 20px;
            padding: 20px;
        }
        #counterLabel{
            font-size: 100px;
        }
        button{
            background-color: lightpink;
            font-size: 30px;
            padding: 5px;
            border: 2px solid;
            border-radius: 10px;
        }
        button:hover{
            background-color: rgb(190, 6, 34);
            color: white;
        }
