body{
    background-color: bisque;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 0   0   20px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 50px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
    width: 60%;
}

form input[type="submit"]{
    background-color: rgb(32, 59, 133);
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;    
}
form input[type="submit"]:hover{
    background-color: chocolate;
}
